.portfolio-agenda-wrapper {
    .search-form-wrapper {
        width: 382px;
        background-color: #3F3F3F;
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 0 20px;

        .search-form {
            background-color: #3F3F3F;
            width: 100%;
            height: 42px;
            border-radius: 50px;
            border: none;
            color: white;
        }

        .form-control {
            min-height: unset;
        }
    }

    .section-heading {
        text-align: center;
        @media screen and (max-width: 600px) {
            text-align: start;
        }
    }

    .date-items {
        display: flex;
        gap: 10px;
        justify-content: center;
        overflow-x: auto;

        -ms-overflow-style: none;

        scrollbar-width: none;




        &::-webkit-scrollbar {
            display: none;

        }

        .date-item {
            padding: 8px 16px;
            color: white;
            background-color: #3F3F3F;
            border-radius: 50px;
            cursor: pointer;
            flex: 0 0 auto;

            min-width: 100px;

            text-align: center;


            &.active {
                background-color: $primary-color;
            }
        }
    }

    @media (max-width: 600px) {
        .date-items {
            justify-content: start;
            padding: 0 10px;

        }

        .date-item {
            min-width: 80px;

        }
    }



    .portfolio-agenda-content-wrapper {


        .session-item-card {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            background-color: hsl(0, 0%, 25%);
            height: 356px;
            padding: 20px;

            .name {
                font-size: 36px;
                font-weight: normal;
                max-width: 736px;

                @media screen and (max-width: 800px) {
                    font-size: 20px
                }
            }

            .time {
                color: #D1D1D1;
                font-size: 13px;
            }

            .view-btn {
                background: none;
                color: $fdi-primary;
                padding: 8px 16px;
                border-radius: 50px;
                border: 2px dotted $fdi-primary;

                @media screen and (max-width: 800px) {
                    font-size: 14px
                }
            }

            .speakers-wrapper {
                display: flex;
                gap: 10px;

                .speaker-card {
                    .speaker-image {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }

                    .speaker-name {

                        font-size: 10px;
                        color: white;
                        max-width: 90px;
                    }
                }
            }
        }
    }
}

.portfolio-session-detail-page {
    .session-head-wrapper {
        background-color: $primary-color;
        padding: 40px 0;

        .description {

            width: 100%;
            max-width: 800px;
            text-align: left;
            color: white;
        }

        .time {
            color: white;
            font-size: 15px;
        }

        .room {
            color: white;
        }
    }

    .speakers-wrapper {

        .speaker-card {

            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            @media screen and (max-width: 1000px) {
                flex-direction: column;

            }

            .speaker-image {
                width: 270px;
                height: 270px;
            }

            .speaker-name {
                font-size: 20px;
            }

            .speaker-designation {
                color: #818181;
                font-weight: 14px;
            }

            .description {
                color: #818181;
                max-width: 800px;
                text-align: left;
            }
        }

    }
}