
.features-activities-section-wrapper {
    .features-card {
        width: 100%;
        height: 270px;
        position: relative;



        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 270px;
            z-index: 1;
            background: rgba(247, 247, 247, 0);
            background: radial-gradient(circle, rgba(247, 247, 247, 0) 0%, rgba(0, 0, 0, 0.7310573887758228) 100%);

        }

        .activities-image-bg {
            width: 100%;
            height: 270px;

        }

        .content-wrapper {
            content: "";
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 3;

            .features-name {
                color: white;
                font-weight: 600;
                font-size: 24px;
                max-width: 200px;
                line-height: 1.2;

                @media screen and (max-width: 600px) {
                    font-size: 18px;
                }
            }
        }


    }
}

.key-agenda-section-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;

    @media screen and (max-width: 1024px) {
        height: auto;
        padding: 40px 0;
    }

    .key-agenda-card {
        width: 100%;
        height: 175px;
        padding: 20px;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.09);
        border-radius: 30px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 1px solid rgba(255, 255, 255, 0.47);

    }
}

.about-portfolio-section-wrapper {

    .about-content {




        .section-heading {
            font-size: 48px;
            font-weight: bold;
            color: $primary-color-varient;
            letter-spacing: -2px;
            text-align: center;
            margin-bottom: 10px;

            @media screen and (max-width: 800px) {
                text-align: left;
                font-size: 32px;
                margin-bottom: 5px;
            }

        }

        .paragraph {
            position: relative;
            transition: 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100px;
                background: linear-gradient(to bottom, #ffffff10, white);
                ;
                bottom: 0;
                left: 0;
            }

            &.expanded::after {
                display: none;
            }
        }

        .read-more-btn {
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: 2px solid black;
            border-radius: 50px;
        }
    }

}


.key-features-section-wrapper {
    .sub-heading {
        color: $light-text;
        font-size: 24px;
        text-align: center;

        @media screen and (max-width: 800px) {
            text-align: left;
            font-size: 20px;
        }
    }
}

.fdi-hero-section-wrapper {
    padding-top: 240px;

    width: 100%;
    background-color: black;


    .heading {
        font-size: 75px;
        letter-spacing: -3px;

        @media screen and (max-width: 600px) {
            font-size: 48px;
        }
    }

    .subheading {
        font-size: 32px;
        color: rgb(193, 193, 193);
        max-width: 500px;

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    .about-section {
        padding: 60px 0;

        @media screen and (max-width: 600px) {
            padding: 20px 0;
        }

        .description {
            color: rgb(193, 193, 193);
            text-align: left;
        }

        .subheading {
            color: white;

        }


    }
}


.frequently-asked-questions-wrapper {
    padding-bottom: 120px;

    .main-heaiding {
        font-size: 48px;
        font-weight: 600;
        color: $primary-color-varient;

        letter-spacing: -2px;
    }
}


.portfolio-sticky-nav-menu {
    background-color: yellow;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 100;
    position: -webkit-sticky;
}


.investment-destination-carousel-wrapper {

    .investment-destination-card {
        width: 100%;
        height: 483px;

        .investment-destination-image {
            width: 100%;
            height: 483px;
            object-fit: cover;
        }

        .name {
            font-size: 36px;
        }

        .content {
            color: #B4B4B4;
            max-width: 270px;
        }
    }

}

.speaker-carousel-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;

    .card-speaker-item {
        max-width: 175px;
        width: 100%;
        position: relative;

        &:hover {
            .speaker-image {
                filter: grayscale(0);
            }
        }

        .speaker-image {
            width: 100%;
            height: 175px;
            object-fit: cover;
            filter: grayscale(100%);
            transition: all 0.2s ease;
            margin-right: 20px;
        }

        .card-body-speaker {
            padding: 10px;

            .name {
                color: $fdi-primary;
            }

        }


    }
}