.fdi-award-page {
    .fdi-award-banner {

        position: relative;

        .fdi-award-image {
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            inset: 0;
        }

        .fdi-award-banner-content {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .banner-headingMain {
            font-size: 75px;
            line-height: 1.5;
            text-transform: uppercase;
            letter-spacing: clamp(5px, 2vw, 20px);

            color: #ffffff;
            max-width: 658px;
            text-align: left;
            font-weight: 300;

        }

        .banner-content {
            color: white;
            max-width: 370px;
            line-height: 1.8;
            font-weight: 200;
        }
    }

    .award-ceremony-section {
        padding: 80px 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(331deg, rgba(0, 0, 0, 1) 0%, rgba(81, 81, 81, 1) 100%);

        .content {
            color: white;
            font-weight: 400;
            text-align: center;
            max-width: 1152px;
            margin: auto;
        }
    }

    .guide-lines-section {
        .title {
            font-size: 40px;
            color: black;
        }

        .heading {
            font-size: 75px;
            max-width: 588px;
            color: black;
            margin-bottom: 73px;
        }

        .guide-line-wrap {


            .guidelineitem {
                border-left: 1px solid black;
                padding-left: 20px;

                .count {
                    font-size: 128px;
                    line-height: 1;

                }

                .name {
                    color: #666666;
                    margin-bottom: 50px;
                }

                .content {

                    color: #6F6F6F;
                    max-width: 293px;
                }
            }
        }
    }


    .award-categories-section {

        .categories-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr); // 5 columns for large screens


            @media (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr); // 4 columns for medium screens
            }

            @media (max-width: 992px) {
                grid-template-columns: repeat(3, 1fr); // 3 columns for small screens
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr); // 2 columns for tablets
            }

            @media (max-width: 576px) {
                grid-template-columns: 1fr; // 1 column for mobile screens
            }
        }

        .categories-card {

            width: 100%;
            height: 258px;
            padding: 20px;

            .heading {
                font-size: 40px;
                font-weight: normal;
                max-width: 255px;
            }

        }

        .card-black {

            background: rgb(0, 0, 0);
        }

        .card-gradient {


            background: rgb(0, 0, 0);
            background: linear-gradient(331deg, rgba(0, 0, 0, 1) 0%, rgba(81, 81, 81, 1) 100%);

        }


    }

    .award-winnners-section {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;

        .award-winner-image {
            width: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
            z-index: -1;
            height: 100vh;
        }

        .winner-heading {
            font-size: 128px;
            font-weight: 400;
            margin-bottom: 60px;
            max-width: 1000px;
        }

        .winner-title {
            font-size: 64px;
        }
    }

    .bookspot-cta-section {
        height: 450px;
        display: flex;
        align-items: center;
        background: rgb(0, 0, 0);
        background: linear-gradient(331deg, rgba(0, 0, 0, 1) 0%, rgba(81, 81, 81, 1) 100%);

        .section-heading {
            max-width: 943px;
            margin: auto;
        }
    }
}