.about-portfolio-section-wrapper {
    .about-content {
        max-width: 80%;
        margin: auto;

        .section-heading {
            font-size: 48px;
            font-weight: bold;
            color: $primary-color-varient;
            letter-spacing: -3px;
            text-align: center;
            margin-bottom: 20px;
        }

        .paragraph {
            position: relative;
            max-height: 150px;
            overflow: hidden;
            transition: 0.2s ease;
            background: linear-gradient(to bottom, #ffffff10, white);
        }

        .toggle-checkbox {
            display: none;
        }

        .toggle-checkbox:checked ~ .col-12 .paragraph {
            max-height: 1000px; /* Arbitrary large value to allow expansion */
            background: none; /* Remove the gradient when expanded */
        }

        .read-more-btn {
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: 2px solid black;
            border-radius: 50px;
            cursor: pointer;
        }

        .toggle-checkbox:checked + .col-12 + .col-12 .read-more-btn {
            content: 'Read Less';
        }
    }
}





.key-benefits-section-wrapper {
    .sub-heading {
        color: $light-text;
        font-size: 24px;
        text-align: center;
    }
}

.frequently-asked-questions-wrapper {
    .main-heaiding {
        font-size: 48px;
        font-weight: 600;
        color: $primary-color-varient;
        text-transform: uppercase;
        letter-spacing: -2px;
    }
}