.FDI-menu-component-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: $box-shadow;

    display: flex;
    align-items: center;

    .menu-items {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            color: black;
        }

        li {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            transition: 0.2s ease;
            cursor: pointer;

            @media screen and (max-width: 600px) {
                font-size: 10px;

            }

            &:hover {
                color: $fdi-primary
            }
        }
    }
}