.investment-destination-page {
    .map-section-wrapper {
        height: 850px;
        position: relative;
        .map-image {
            width: 100%;
            object-fit: cover;
            max-width: 1300px;
            height: 850px;
        }
    }

    .map-heading {
        font-size: 75px;
        line-height: 1.5;
        letter-spacing: 20px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        max-width: 1041px;
        text-align: center;
        font-weight: 100;

    }
}