.unicorns-page-wrapper {
    

    .portfolio-banner-wrapper{
        .text-container{
            top: 45%;
        }
    }
    .about-section {
        .img-container-wrapper {
            height: 450px;
            width: 100%;
            background-color: rgba(75, 75, 75, 0.452);

            img {
                height: 450px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .unicorn-benefits-wrapper {
        .benefits-card-item {
            cursor: pointer;
            transition: all 0.2s ease;

            .name {
                font-size: 20px;
                font-weight: 600;
                transition: all 0.2s ease;

            }

            .content {
                font-size: 16px;
                color: $light-text;
                transition: all 0.2s ease;

            }

            &:hover {
                .name {
                    color: $startup;
                }

                .content {
                    color: black;
                }
            }
        }

        .growth-icon {
            width: 100%;
            height: 450px;
            object-fit: contain;
        }
    }

    .sustainable_unicorn {

        .left-seciton {
            background: linear-gradient(to left, black, rgba(5, 5, 5, 0.767));
            padding: 60px 0;

            .heading {
                color: white;
                font-size: 48px;
                font-weight: 600;

                @media screen and (max-width: 1000px) {
                    font-size: 32px;

                }

                @media screen and (max-width: 600px) {
                    font-size: 20px;

                }
            }

            .content {
                color: #777777;

                @media screen and (max-width: 1000px) {
                    font-size: 18px;

                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;

                }
            }
        }
    }

    .cta-card-wrapper {
        background: linear-gradient(to left, black, rgba(5, 5, 5, 0.767));
        height: 450px;
        width: 100%;
        display: flex;
        align-items: center;

        position: relative;

        .heading {
            color: white;
            font-size: 48px;
            font-weight: 600;
            max-width: 1000px;

            @media screen and (max-width: 1000px) {
                font-size: 32px;

            }

            @media screen and (max-width: 600px) {
                font-size: 20px;

            }
        }

        .speaking-lady-image {
            width: 250px;
            position: absolute;
            right: 200px;
            bottom: 0;

        }
    }


}