@import "reset.scss";
@import "_partials/_typography";
@import "_partials/_variables";
@import "_partials/_functions";
@import "_partials/_mixin";
@import "_partials/_animations";
@import "bootstrap-5.2.3/bootstrap.scss";
@import "_partials/_controls";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: white;
    color: black;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    line-height: 1.1;
    margin-bottom: 5px;
    letter-spacing: -1px;

    @media screen and (max-width: 800px) {
        text-align: start;
    }

}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

section {
    margin: 120px 0;

    @media screen and (max-width: 800px) {
        margin: 80px 0;
    }
}

.section-wrapper {
    min-height: 100vh;

    @media screen and (max-width: 800px) {
        min-height: unset;

    }
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.select-control {
    width: 100%;
    min-height: 2.6875rem;
    padding: 10px;
    color: rgb(99, 99, 99);
}

.heading-wrapper {
    .section-heading {
        font-size: 48px;
        color: white;
        line-height: 1.1;

        @media screen and (max-width: 1000px) {
            font-size: 32px;
        }

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    .underline {
        width: 100px;
        height: 5px;
        background-color: $primary-color-varient;
    }
}

.description {
    font-size: 18px;
    color: $light-text;
    max-width: 510px;
    text-align: justify;

    @media screen and (max-width: 800px) {
        max-width: 400px;
    }
}


hr {
    color: white;
    background: white
}


.read-more {
    color: $metalic-gold;
}

._error-inner {
    color: $metalic-gold;
}

._form-thank-you {
    color: rgb(88, 255, 102);
    font-size: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
}

.paragraph {
    text-align: left;

    @media screen and (max-width: 800px) {
        text-align: left;
    }
}


.register-interest-cta {
    background: $primary-color;
    color: white;
    padding: 8px 24px;
    border-radius: 30px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;

    &:hover {
        transform: scale(1.05)
    }

    @media screen and (max-width: 800px) {
        font-size: 14px;
        padding: 8px 12px;
    }
}

.section-heading {
    font-size: 48px;
    font-weight: bold;
    color: $primary-color-varient;
    letter-spacing: -3px;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (max-width: 800px) {
        font-size: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 5px;
    }
}





ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90% !important;
}

.section-container {
    max-width: 85% !important;
    margin: auto;

    @media screen and (max-width: 1550px) {

        max-width: 95% !important;
        margin: auto;
    }

    @media screen and (max-width: 800px) {

        max-width: 95% !important;
        margin: auto;
    }
}



.fdi {
    background: $fdi-primary;
}

.global-trade {
    background: $global-trade-primary;
}

.advancedManufacturing {
    background: $global-manufacturing;
}

.future-cities {
    background: $future-cities;
}

.digital-economy {
    background: $digital-economy;
}

.future-finance {
    background: $future-finance;
}

.startup {
    background: $startup;
}

.entrepreneurs {
    background: $entrepreneurs;
}


.text-fdi {
    color: $fdi-primary;
}





.inner-banner-section-wrapper {
    position: relative;
    background-color: black;
    height: 430px;

    .banner-image {
        width: 100%;
        object-fit: cover;
        height: 430px;
    }

    video {
        width: 100%;
        object-fit: cover;
        height: 430px;
    }

    .inner-text-container {
        position: absolute;
        z-index: 2;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: 100%;
        max-width: 1000px;

        .banner-heading {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            text-align: center;
            font-size: 64px;
            letter-spacing: -3px;

            @media screen and (max-width: 800px) {
                font-size: 32px;
                text-align: start;
            }
        }


    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.733);
        z-index: 1;
    }
}

.logo {
    width: 100%;
    object-fit: contain;
    max-width: 280px;
}


.brochure-card {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
    }

    .download-btn-floating {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 30px;
        border: 1px solid white;
        padding: 8px 12px;

        p {
            color: white;
            font-size: 14px;
            margin: 0;
            padding: 0;

        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .download-btn-floating {
            opacity: 1;
        }
    }
}

.blog-card {

    img {
        width: 100%;
        object-fit: cover
    }

    .name {
        font-weight: bold;
    }
}


img {
    width: 100%;
    object-fit: cover
}

.register-interest-form-wrapper {
    .register-interest-submit-btn {
        margin-top: 40px;
        background-color: $primary-color;
        padding: 8px 24px;

        span {
            color: white
        }
    }


    ._form-fieldset {
        border: none;
        padding: 0;
        margin-bottom: 0px;
    }

    ._form-label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        color: #333;
    }

    ._row._checkbox-radio {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        gap: 5px;
    }



    ._row._checkbox-radio span {
        font-size: 16px;
        color: #555;
        cursor: pointer;
    }

}

.partner-logo {
    width: 280px;
    object-fit: contain
}

.home-sponsors-wrapper {
    margin-top: 120px;
}

.aim-btn {
    background-color: $primary-color;
    color: white;
    padding: 8px 12px;
    border-radius: 50px
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}



input[readonly] {
    background-color: #efecec !important;
}

.cta-btn {
    padding: 8px 24px;
    border-radius: 40px
}

.black-replacer-nav {
    background: black;
    height: 225px;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



@import "./locals/menu-component.scss";
@import "./locals/home/banner-component.scss";
@import "./locals/cta-btn.scss";

@import "./locals/home.scss";


@import "./locals/embla.scss";
@import "./locals/home/theme-section-component.scss";
@import "./locals/home/audientsctacomponents.scss";
@import "./locals/home/portfoli-cta-component.scss";
@import "./locals/home/sustainable-component.scss";
@import "./locals/home/testimonials-component.scss";
@import "./locals/home/articles-components.scss";
@import "./locals/home/cta-banner-component.scss";

@import "./locals/about.scss";
@import "./locals/home/statsSection.scss";

@import "./locals/UI/accordion.scss";

@import "./locals/portfolio/banner.scss";
@import "./locals/fdi/fdi-home.scss";
@import "./locals/fdi/card-grid.scss";
@import "./locals/event-highlights.scss";
@import "./locals/footer-component.scss";

@import "./locals/travel-partners.scss";

@import "./locals/articles.scss";
@import "./locals/portfolio/startup/startup.scss";
@import "./locals/thank-you.scss";
@import "./locals/portfolio/startup/startupform.scss";
@import "./locals/portfolio/startup/allInvestorPage.scss";
@import "./locals/portfolio/startup/unicorns.scss";
@import "./locals/speakes-page.scss";
@import "./locals/portfolio/startup/UI/customModal.scss";
@import "./locals/packages.scss";
@import "./locals/packages-2.scss";
@import "./locals/packages-3.scss";
@import "./locals/portfolio/startup/UI/testimonialCarousel.scss";
@import "./locals/portfolio/future-finance/future-finance.scss";
@import "./locals/portfolio/future-finance/UI/participateSection.scss";
@import "./locals/fdi/fdi-menu-compoenent.scss";
@import "./locals/portfolio/portfolio-agenda.scss";