@import "reset.scss";
@import "_partials/_typography";
@import "_partials/_variables";
@import "_partials/_functions";
@import "_partials/_mixin";
@import "_partials/_animations";
@import "bootstrap-5.2.3/bootstrap.scss";
@import "_partials/_controls";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    line-height: 1.1;
    margin-bottom: 5px;
}

p {
    font-size: 18px;
}

section {
    margin: 120px 0;

    @media screen and (max-width: 800px) {
        margin: 80px 0;
    }
}

.section-wrapper {
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.select-control {
    width: 100%;
    min-height: 2.6875rem;
    padding: 10px;
    color: rgb(99, 99, 99);
}

.heading-wrapper {
    .section-heading {
        font-size: 48px;
        color: white;
        line-height: 1.1;

        @media screen and (max-width: 800px) {
            font-size: 32px;
        }
    }

    .underline {
        width: 100px;
        height: 5px;
        background-color: $primary-color-varient;
    }
}

.description {
    font-size: 18px;
    color: $light-text;
    max-width: 510px;
    text-align: justify;

    @media screen and (max-width: 800px) {
        max-width: 400px;
    }
}


hr {
    color: white;
    background: white
}


.read-more {
    color: $metalic-gold;
}

._error-inner {
    color: $metalic-gold;
}

._form-thank-you {
    color: rgb(88, 255, 102);
    font-size: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
}

.paragraph {
    text-align: justify
}


.register-interest-cta {
    background: $primary-color;
    color: white;
    padding: 8px 24px;
    border-radius: 30px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;

    &:hover {
        transform: scale(1.05)
    }
}













@import "./locals/menu-component.scss";
@import "./locals/home/banner-component.scss";
@import "./locals/cta-btn.scss";

@import "./locals/home.scss";


@import "./locals/embla.scss";
@import "./locals/home/theme-section-component.scss";
@import "./locals/home/audientsctacomponents.scss";
@import "./locals/home/portfoli-cta-component.scss";
@import "./locals/home/sustainable-component.scss";
@import "./locals/home/testimonials-component.scss";
@import "./locals/home/articles-components.scss";
@import "./locals/home/cta-banner-component.scss";
@import "./locals/footer-component.scss";