.future-finance-page-wrapper {
    .future-finance-cta-btn {
        background-color: $future-finance;
        padding: 8px 24px;
        color: white;
        text-transform: capitalize;
        border-radius: 40px;
    }

    .about-section-wrapper {
        height: 100vh;
        width: 100%;

        display: flex;
        align-items: center;
        background: black;

        @media screen and (max-width: 1000px) {
            height: auto;
            padding: 40px 0;
        }

        .heading {
            font-size: 48px;
            max-width: 550px;
            margin-bottom: 20px;

            @media screen and (max-width: 1000px) {
                font-size: 32px;
            }
        }

        .paragraph {
            color: rgb(236, 236, 236);
            font-size: 16px;
        }
    }

    .features-activities-section-wrapper {
        .features-card {
            width: 100%;
            height: 270px;
            position: relative;



            &::after {
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 270px;
                z-index: 1;
                background: rgba(247, 247, 247, 0);
                background: radial-gradient(circle, rgba(247, 247, 247, 0) 0%, rgba(0, 0, 0, 0.7310573887758228) 100%);

            }

            .activities-image-bg {
                width: 100%;
                height: 270px;

            }

            .content-wrapper {
                content: "";
                position: absolute;
                left: 20px;
                top: 20px;
                z-index: 3;

                .features-name {
                    color: white;
                    font-weight: 600;
                }
            }


        }
    }

    .key-agenda-section-wrapper {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: black;

        @media screen and (max-width: 1024px) {
            height: auto;
            padding: 40px 0;
        }

        .key-agenda-card {
            width: 100%;
            height: 230px;
            padding: 20px;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.09);
            border-radius: 30px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(11px);
            -webkit-backdrop-filter: blur(11px);
            border: 1px solid rgba(255, 255, 255, 0.47);
        }
    }

    .stats-section-wrapper {
        padding-top: 60px;

        .stats-card {
            width: 100%;
            height: 172px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0;
                background: rgba(247, 247, 247, 0);
                background: linear-gradient(298deg, rgba(247, 247, 247, 0) 0%, rgba(0, 0, 0, 0.8094887613248425) 100%);
            }

            .stats-image {
                width: 100%;
                height: 172px;
                object-fit: cover;
            }

            .content-wrapper {
                position: absolute;
                padding: 10px;
                z-index: 3;
                inset: 0;

                .count {
                    color: white;

                }

                .name {
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }

    .target-audients-cta-larger_screen {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: end;

        @media screen and (max-width: 1024px) {
            display: none;
        }

        .cta-sub-head-wrapper {
            width: 100%;
            height: 400px;
            background: #180A3C;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .target-cta-cards {
                position: absolute;

                top: -60px;
                left: 50%;
                transform: translate(-50%, 0px);
                display: flex;
                gap: 20px;
                justify-content: center;




            }

            .target-cta-card {
                width: 368px;
                height: 190px;
                padding: 20px;

                transition: all 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    cursor: pointer;
                    transform: translateY(-10px);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
                }

                .name {
                    max-width: 200px;
                }



            }
        }

    }

    .target-audients-cta-small_screen {
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
        }

        .target-cta-card {
            width: 100%;
            height: 190px;
            padding: 20px;


            transition: all 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            }

            .name {
                max-width: 200px;
            }

        }



    }


}