.participate-section-wrapper {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;



    @media screen and (max-width: 1024px) {
        padding: 40px 0;
        align-items: start;
        height: auto;
    }

    .heading {
        font-size: 48px;

        @media screen and (max-width: 1000px) {
            font-size: 32px;
        }

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    .future-finance-cta-btn {
        font-size: 18px;
    }


    .vertical-carousel-container {
        position: relative;
        width: 100%;




        .carousel-item {
            text-align: start;
            padding: 1rem;
            transition: all 0.5s ease; // Smooth transition between states
            color: white;
            opacity: 0.4; // Default lower opacity for inactive items
            filter: blur(2px); // Default blur for inactive items


            .name {
                font-size: 22px;
                padding-left: 20px;

                @media screen and (max-width: 1000px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                }
            }


            &.active {
                opacity: 1; // Full opacity for active item
                filter: blur(0); // No blur on active item
                font-size: 1.5rem; // Increase size of the active item for emphasis
                transition: all 0.3s ease;
                display: flex;
                align-items: center;

                &::after {
                    content: "";
                    position: absolute;
                    left: -6px;
                    top: 0;
                    width: 10px;
                    height: 100%;
                    z-index: 5;
                    opacity: 1;
                    background-color: #7428F4; // Purple line next to active item
                    box-shadow: 0 0 10px rgba(116, 40, 244, 0.75), 0 0 20px rgba(116, 40, 244, 0.5), 0 0 30px rgba(116, 40, 244, 0.25); // Glowing effect
                }
            }
        }
    }



    .whocanparticipate-item-wrapper {
        .whocanparticipate-card {
            height: 80px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            background-color: rgba(255, 255, 255, 0.137);


        }
    }





}

.why-participate-section {
    .why-participate-img {
        width: 72px;
        object-fit: contain;
        background-color: rgb(245, 245, 245);
        border-radius: 50%;
        padding: 10px;
    }

    .name {
        font-weight: bold;
        text-transform: capitalize;
    }
}