.article-detail-page-wrapper {
    overflow-x: hidden;

    .article-banner-wrapper {

        width: 100%;
        height: 500px;
        position: relative;
        background-color: $primary-color-varient;

        .article-main-image {
            max-width: 600px;
            height: 300px;
            object-fit: cover;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
    }

    .article-body {
        max-width: 1200px;
        margin: auto;

        @media screen and (max-width: 800px) {
            max-width: 98%;

            
        }
    }


}

.articles-page-wrapper {
    .blog-card {
        .blog-image {
            height: 200px;
            object-fit: cover;
        }
    }
}