.contact-us-wrapper {
    // margin-top: $margin-top-below-menu;  
    min-height: 600px;

    .left-container {
        .section-heading {
            color: white;
            font-size: 48px;
            max-width: 500px;
            line-height: 1.1;
            @media screen and (max-width: 800px) {
                max-width: 350px;
                font-size: 32px;
            }
        }


    }

    .right-container {
        .submit-btn {
            padding: 10px;
            background-color: $primary-color-varient;
            font-weight: bold;
        }
    }
}