.event-highlights-page-wrapper {
    .theme-subHead {
        font-size: 20px;
        color: $primary-color-varient;
    }

    .theme-mainHead {
        font-size: 32px;
        color: $primary-color-varient;
        font-weight: bold;
    }
}