.menu-wrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 0.3s ease-out;
    z-index: 20;

    

    .portfolio-menu-logo {
        filter: grayscale(1);
    }

    .nav-bar-portfoio-logo{
        object-fit: contain;
        width: 110px;

        @media screen and (max-width: 1000px ) {
            width: 80px;
        }

        @media screen and (max-width: 600px ) {
            width: 60px;
        }
    }

    &:hover {
        background-color: black;
    }

    &.scrolled {
        background: rgb(0, 0, 0);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);

        .top-items-container {
            display: none;

            .ministry-logo {
                display: none;
            }
        }

        .black-logo {
            display: block;

            width: 140px;

            @media screen and (max-width: 800px) {
                width: 120px;

            }
        }





        .menu-items {

            .menu-item {
                a {
                    color: rgb(255, 255, 255);
                    font-weight: 500;
                }
            }
        }

        .menu-cta-btn::after {
            background: white;
        }

        .menu-icon-wrapper {
            .menu-icon {
                color: rgb(255, 255, 255);
            }
        }







    }

    .top-items {

        .top-item {
            color: white;
            display: flex;
            gap: 5px;
            align-items: center;

            .ministry-logo {
                width: 455px;

                @media screen and (max-width: 800px) {
                    width: 220px;
                }
            }
        }

        span {
            @media screen and (max-width: 800px) {
                font-size: 14px;
            }
        }




    }

    .menu-logo {
        width: 160px;

        @media screen and (max-width: 800px) {
            width: 120px;

        }


    }

    .black-logo {
        display: none;
    }

    .menu-items {
        display: flex;
        align-items: center;
        gap: 40px;

        .menu-item {
            color: white;
            position: relative;
            cursor: pointer;


            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 50%;
                transform: translateX(0%);
                height: 3px;
                background: linear-gradient(to right, $primary-color, black);
                border-radius: 8px;
                opacity: 0;
                transition: transform 0.3s ease-in, opacity 0.15s ease-in-out;
            }

            &:hover:after {
                animation: lightningEffect 0.3s ease-in-out;
                transform: translateX(100%);

            }


        }


        .hover-menu-container {
            position: relative;

            ul {
                margin: 0;
                padding: 0;
            }

            .dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #000;
                color: white;
                width: 280px;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                z-index: 10;
                display: flex;
                flex-direction: column;

                .dropdown-item {
                    padding: 10px 15px;
                    border-bottom: 1px solid #444;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        a {
                            color: $primary-color;
                        }

                        .portfolio-menu-logo {
                            filter: grayscale(0);
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        display: block;
                    }
                }
            }
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    .menu-icon-wrapper {
        .menu-icon {
            color: rgb(255, 255, 255);
        }
    }




    .mobile-menu-nav {
        position: fixed;
        padding: 0;
        top: 0;
        padding: 20px 0px;
        right: 0px;
        background-color: #000;
        color: #000;
        width: 100%;
        height: 100vh;
        z-index: 105;

        overflow-y: auto;

        .menu__overlay {
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            z-index: 100;
        }

        .mobile-menu-items {
            color: white;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 100%;

            .mobile-menu-item {
                padding: 20px 40px;
                text-align: start;
                width: 100%;
                cursor: pointer;
                border-bottom: 1px solid rgb(59, 59, 59);

                // &:hover {
                //     color: $primary-color-varient;
                // }

                &:last-child {
                    border: none;
                }

                .mobile-dropdown {
                    padding: 20px 0px;

                    li {

                        padding: 10px 0px;
                        border-bottom: 1px solid #444;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        a {
                            text-decoration: underline;
                        }

                        &:hover {
                            background-color: #444;
                        }

                        &:last-child {
                            border-bottom: none;
                        }

                    }
                }
            }
        }

        .menu-cta-btn {
            display: block;

            .mobile-menu-cta-btn {
                display: block;
                width: 100%;
                padding: 10px;
                font-weight: bold;
            }
        }
    }
}

.translate-y {
    transform: translateY(-100%);
}

